# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Logs
storage/logs/
*.log

# Vector DB
storage/chroma/

# Uploaded files
storage/uploads/

# Frontend
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db